---
layout: default
title: "– all my links"
---

    <p class="stuff">


        Hey there! Welcome to my cozy nest box. I'm a little mouse who just wants to take it easy. Things I love include my family, making or fixing websites, anime, video games, plushies, sweets, nature, and foreign languages. I am engaged to my wonderful boy Ghostly. 💘 Read more about me <a href="/about">here</a>.
        <br><br>

        {% include legend.html %}

            <br><br>
        {% include credits.html %}        
        </p>

