---
layout: default
title: "– all my links and projects"
---

<p>Welcome to my programming portfolio! My specialty is <strong>front-end web development</strong>. I graduated May 2019 from Rutgers University in New Brunswick, NJ with a B.A. in Information Technology and Informatics and currently work as a Web Producer full-time. Here you can view a complete list of my most complete projects and connect with me on my favorite online platforms listed below. You can also <a href="/about">read more about me</a>.</p>

        <p style="text-align:center;">{% include legend.html %}</p>

        <p>{% include credits.html %}</p>
