::-moz-selection { /* Code for Firefox */
	color: white;
	background: #E0245E;
}

::selection {
	color: white;
	background: #E0245E;
}

html {
/*text-transform: lowercase;*/
}

a {
font-family:sans-serif;
font-size:18pt;
color:#E0245E;
}

body {
	background: black;
	/*background: linear-gradient(-90deg, #FAB4C5, #E0245E);
	background-size: 200% 200%;
	-webkit-animation: Gradient 5s ease infinite;
	-moz-animation: Gradient 5s ease infinite;
	animation: Gradient 5s ease infinite;*/
}

email::before {
	content: "liz@cozymaus.com";
}

/*
@-webkit-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@-moz-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}
*/

strong {
	font-weight:bold!important;
}

div#links a {
	color: #08aca2;
	border: 1px #08aca2 solid;
	border-radius: 0px;
	padding: 15px;
	letter-spacing: 2px;
	text-transform: uppercase;
	font-weight: 700;
	font-family: sans-serif;
	opacity: 1;
	display: block;
	text-align: center;	
	margin: 20px;
	background-color: white;
	-webkit-transition: .3s; /* Safari */
  	transition: .3s;
}

div#links a.post:hover {
	/*padding:0px!important;*/
}

span.green, span.blue, span.red, span.purple, span.black, span.yellow {
	letter-spacing: 2px;
	text-transform: uppercase;
	font-weight: 700;
	font-family: sans-serif;
	font-size: 12pt;
}

div#links a.green {
	color: #08aca2;
	border: 1px #08aca2 solid;
}

span.green {
	color: #08aca2;
}

div#links a.green:hover {
	color: white;
	border: 1px white solid;
	background-color: #08aca2;
}

div#links a.disabled {
	color: gray;
	border: 1px gray solid;
	background-color:#D3D3D3 !important;
}

span.disabled {
	color: gray;
}

div#links a.disabled:hover {
	color: gray;
	border: 1px gray solid;
	background-color:#D3D3D3 !important;
}

div#links a.red.disabled:hover {
	color:#E0245E !important;
	border: 1px #E0245E solid!important;
}

div#links a.black {
	color: black;
	border: 1px black solid;
}

span.black {
	color: black;
}

div#links a.black:hover {
	color: white;
	border: 1px white solid;
	background-color: black;
}

div#links a.red {
	color: #E0245E;
	border: 1px #E0245E solid;
}

span.red {
	color: #E0245E;
}

div#links a.red:hover {
	color: white;
	border: 1px white solid;
	background-color: #E0245E;
}

div#links a.yellow {
	color: #e6bb00;
	border: 1px #e6bb00 solid;
}

span.yellow {
	color: #e6bb00;
}

div#links a.yellow:hover {
	color: white;
	border: 1px white solid;
	background-color: #e6bb00;
}

div#links a.blue {
	color: #4682b4;
	border: 1px #4682b4 solid;
}

span.blue {
	color: #4682b4;
}

div#links a.blue:hover {
	color: white;
	border: 1px white solid;
	background-color: #4682b4;
}

div#links a.purple {
	color: #4639a5;
	border: 1px #4639a5 solid;
}

span.purple {
	color: #4639a5;
}

div#links a.purple:hover {
	color: white;
	border: 1px white solid;
	background-color: #4639a5;
}

a:hover, a:focus, a:active {
	color: #08aca2;
	/*opacity: .8;*/	
	text-decoration: none;
}

#links {
	margin: 0 auto;
	width: 100%;
	/*padding-bottom:30px;*/
}

#s-m-t-tooltip {
	background-color: #fafafa;
	border: 1px solid #dddddd;
	color: black;
	padding: 4px 8px 4px 8px;
	font-family: sans-serif;
	letter-spacing: 1px;
	font-weight: normal;
	font-size: 11px;
	/*text-transform: uppercase;*/
	margin-top: 10px;
}

#top, #bottom {
	background-color: #F6F6F6;
	padding: 10px 0px 15px 0px;
	border-radius: 0px;
	border-bottom: 2px solid #dddddd;
	border-top: 2px solid #dddddd;
	width:100%;
}

/*#bottom {
	display: visible;
}*/

#status p.stuff, #about p.stuff, div.stuff p, div.stuff li {
	color: black;
	font-size: 12pt;
	font-family: sans-serif;
	line-height: 130%;
}

/*div#title::after {
	content:" ";
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-top: 13px solid #dddddd;
	height: 0px;
	width: 0px;
	margin-left: 50%;
	margin-top: 0px;
	display: block;
}*/

div#title, #status p.stuff, #about p.stuff, div.stuff {
	width: 100%;
	margin: 0 auto;
	padding: 0 10px;
}

div.stuff p, div.stuff li {
padding-top:20px;
}

#status {
	width: 100%;
}

#about {
	width: 100%;
}

div#title h1, div.stuff h2, div.stuff h3, div.stuff h4  {
	background-color: #fafafa;
	border: 1px solid #dddddd;
	color: black;
	padding: 10px;
	font-family: serif;
	letter-spacing: 1px;
	font-weight: 100;
	font-size: 20pt;
	margin-top: 20px;
	text-align: center;
}

div#title h1 {
	font-size: 26pt;
	margin-top: 10px;
}

div.stuff h2 {
	font-size: 24pt;
}

div.stuff h3 {
	font-size: 22pt;
}

a.nav {
	color: black;
	width: 35px;
	transition: all .3s;
	display: inline-block;
}

p.stuff a, div.stuff a {
	color: #E0245E;
	transition: .3s;	
}

p.stuff a:hover, div.stuff a:hover {
	color: #E0245E;
	text-decoration: underline;
}

a.nav:hover, a.nav:focus {
	color: #08aca2;
}

em {
	font-style: italic !important;
}

#links.portfolio {
width:100%!important;
}

#links.portfolio a {
	border: 1px solid #4639a5;
}

p.caption {
text-align:center;
}

.flip-box-back p {
	padding-bottom:20px;
	text-transform: none;
	font-family: sans-serif;
line-height: 130%;
font-size: 16pt;
font-family: sans-serif;
font-weight: normal;
letter-spacing: 0;
}

.flip-box-back p.excerpt {
	text-align:left;
}

.flip-box-back p.title {
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 3px;
}

/* Style the back side */
.flip-box-back {
  padding-top:35px;
  color: black;
} 

#status p.stuff, #about p.stuff, div.stuff p, div.stuff li {
	font-size: 18pt;
}

div.stuff span, #links {
	font-size:18pt;
}

div.stuff img, div.stuff iframe, div.stuff video {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

/* The flip box container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.flip-box.logo {
  background-color: black;
  width: 510px;
  height: 510px;
  perspective: 2000px; /* Remove this if you don't want the 3D effect */
}

/* This container is needed to position the front and back side */
.flip-box-inner.logo {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-box:hover .flip-box-inner.logo {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-box-front.logo, .flip-box-back.logo {
  border: 1px solid #4639a5;
  background-color: white;
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

/* Style the front side */
.flip-box-front.logo {
  	padding: 18px;
}

/* Style the back side */
.flip-box-back.logo {
  padding:50px;
  transform: rotateY(180deg);
} 

.flip-box.logo {
    width: 140px;
    height: 140px;
    padding: 0;
    background-color: transparent;
    margin-left: auto;
    margin-right: auto;
}

.flip-box-inner.logo {
    width: 140px;
    height: 140px;
}

.flip-box-front.logo {
    padding: 0px;
    border-radius: 100%;
    border: none;
    background: transparent;
}

.flip-box-back.logo {
    border: none;
    padding: 0;
    background: transparent;
}

#status img {
	border-radius: 50%; 
	height: 140px; 
	width: 140px; 
	border:2px solid #E0245E;
	}

.excerpt {
padding-bottom:0px !important;
}

@media (max-width: 600px) {
	/*div.columnOne, div.columnTwo {
		width:100%!important;
	}

	div.columnOne {
		border-bottom: 2px solid #AD002A;
	}*/
	
	div.flip-box-front img {width:100% !important;}
}

/*@media (max-width: 1200px) {

	#top {
		display: none;
	}

}*/

@media (min-width: 600px) {

/*div.columnOne {
	width:20%;
	float:left;
}

div.columnTwo {
	width:80%;
}

div.columnOne, div.columnTwo {
	display: block;
	position:relative;
	padding: 5px;
}*/

	div.stuff span {
		font-size:14pt;
	}

/* The flip box container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.flip-box {
  background-color: black;
  width: 510px;
  height: 510px;
  perspective: 2000px; /* Remove this if you don't want the 3D effect */
}
	
div#links.pages a .flip-box {
  width: 1100px;
}

/* This container is needed to position the front and back side */
.flip-box-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-box:hover .flip-box-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-box-front, .flip-box-back {
  border: 1px solid #E0245E;
  background-color: white;
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

/* Style the front side */
.flip-box-front {
  	padding: 18px;
}

/* Style the back side */
.flip-box-back {
  padding:50px;
  transform: rotateY(180deg);
} 


	span.green, span.blue, span.red, span.purple, span.black, span.yellow {
		font-size: 14pt;
		letter-spacing: 3px;
	}

	#bottom {
		display: none;
	}
	
	#links {
		width: 1100px!important;
	}
	
	div#links a {
		width: 326px;
		/*width: 29.6984%;*/
		float: left;
		/*margin: 25px;*/
		padding: 18px;
		font-size: 14pt;
		letter-spacing: 3px;
		margin: 0 20px 40px 20px;
	}
	
	div#links.pages a {
		width:100%;
		height:510px;
		padding:0px !important;
		border: none!important;
	}
	
	div#links.portfolio a {
		width:510px;
		height:510px;
		padding:0px !important;
		border: none!important;
	}

	#top {
		display: visible;
		float: left;
		margin-bottom: 40px;
		padding-bottom: 30px;
		border-bottom: 3px solid white;
		border-top: 3px solid white;
	}

	div#title, div.stuff {
		width: 1060px!important;
		margin: 0 auto!important;
		padding: 0px;
	}

	div#title h1 {
		/*font-size: 24pt;*/
		padding: 14px;
	}
	
	/*div.stuff h4, div.stuff h3, div.stuff h2, div#title h1 {
		font-size:24pt;
	}*/

	#status p.stuff, #about p.stuff {
		padding-left: 0px;
		padding-right: 0px;
	}


	#status a.nav {
		float: right;
	}

	#status {
		float: left;
	}

	#about {
		float: left;
	}
	
div#links {width:510px !important; }
div#links.portfolio {width:510px!important;}
div#links.pages {width:510px!important;}
div#links a {width:255px;margin-right:0px;margin-left:0px;}
div#title, div.stuff {width:510px!important;}
}

@media (min-width:1200px) {

div#links {width:1100px !important; }
div#links.portfolio {width:1100px!important;}
div#links.pages {width:1100px!important;}
div#links a {width:326px;margin-right:20px;margin-left:20px;}
div#title, div.stuff {width:1060px!important;}

}
