
<div id="links" class="social">
	
	<a href="{{ site.url }}" class="purple" title="{{ site.url }}">Portfolio</a>
	
	<a href="https://github.com/lizberberena" rel="noopener" class="purple" target="_blank" title="@lizberberena">Github</a>
	
	<a href="https://linkedin.com/in/lizberberena" rel="noopener" class="purple" target="_blank" title="/in/lizberberena">LinkedIn</a>

	<a href="https://myanimelist.net/profile/lizberberena" rel="noopener" class="red" target="_blank" title="@lizberberena">MAL</a>
		
	<a href="https://steamcommunity.com/id/lizberberena" rel="noopener" class="red" target="_blank" title="@lizberberena">Steam</a>
				
	<a href="{{ site.url }}/art" class="green" title="{{ site.url }}/art">Art</a>
	
</div>
