
<div id="links" class="social">
		
	<a href="http://github.com/{{ site.username }}" rel="noopener" class="purple" target="_blank" title="Projects and website code @{{ site.username }}">Github 🖥️</a>
	
	<a href="http://twitter.com/{{ site.username }}" rel="noopener" class="red" target="_blank" title="See my updates, art, and other nonsense @{{ site.username }}">Twitter 🕊️</a>

	<a href="http://steamcommunity.com/id/{{ site.username }}" rel="noopener" class="green" target="_blank" title="Games I play at /id/{{ site.username }}">Steam 🎮</a>
	
	<a href="http://myanimelist.net/profile/{{ site.username }}" rel="noopener" class="green" target="_blank" title="Anime I watch @{{ site.username }}">MAL 🌸</a>
	
	<a href="https://reddit.com/u/{{ site.username }}" rel="noopener" class="red" target="_blank" title="Check out my communities at /u/{{ site.username }}">Reddit 🎭</a>
	
	<a href="http://duolingo.com/{{ site.username }}" rel="noopener" class="purple" target="_blank" title="See my language progress @{{ site.username }}">Duolingo 🦉</a>
	
</div>
