
<div id="links">

	<a rel="noopener" class="red" title="Visit My Online Shop">CozyMaus.com 🐭</a>
	
	<a href="http://github.com/{{ site.author_name }}" rel="noopener" class="purple" target="_blank" title="Projects and Website Themes @{{ site.author_name }}">Github 💻</a>

	<a href="http://twitter.com/{{ site.author_name }}" rel="noopener" class="green" target="_blank" title="Updates, Photos, and More @{{ site.author_name }}">Twitter ☕</a>

	<a href="http://yt.{{ site.author_name }}.com" rel="noopener" class="green" target="_blank" title="Videos on {{ site.author_name }}">YouTube 📹</a>
	
	<a href="mailto:liz@{{ site.author_name }}.com" rel="noopener" class="yellow" target="_blank" title="liz@{{ site.author_name }}.com">Email 💌</a>
	
	<a href="http://steamcommunity.com/id/{{ site.author_name }}" rel="noopener" class="black" target="_blank" title="Games I Play @{{ site.author_name }}">Steam 🎮</a>

	<a href="http://myanimelist.net/profile/{{ site.author_name }}" rel="noopener" class="black" target="_blank" title="Anime I Watched @{{ site.author_name }}">MAL 🌸</a>
	
	<a href="http://letterboxd.com/{{ site.author_name }}" rel="noopener" class="black" target="_blank" title="Films I Watched @{{ site.author_name }}">Letterboxd 🎬</a>
				
</div>
