<!-- purple = Career, Blue = Social, Purple = Code, Red = Video, red = Other -->

<div id="links">


	<a href="http://twitter.com/{{ site.author_name }}" rel="noopener" class="green" target="_blank" title="Updates, Art, and More @{{ site.author_name }}">Twitter 🐭</a>
	
	<a href="http://github.com/{{ site.author_name }}" rel="noopener" class="purple" target="_blank" title="Projects, Website Themes, and More @{{ site.author_name }}">Github 💻</a>

	<a href="http://reddit.com/u/{{ site.author_name }}" rel="noopener" class="red" target="_blank" title="Writings at {{ site.author_name }}.WordPress.com">Writing 🎭</a>

	<a href="http://ko-fi.com/{{ site.author_name }}" rel="noopener" class="yellow" target="_blank" title="Support Me @{{ site.author_name }}">Ko-Fi ☕</a>
	
	<a href="http://steamcommunity.com/id/{{ site.author_name }}" rel="noopener" class="black" target="_blank" title="Games I Play @{{ site.author_name }}">Steam 🎮</a>

	<a href="http://myanimelist.net/profile/{{ site.author_name }}" rel="noopener" class="black" target="_blank" title="Anime I Watched @{{ site.author_name }}">MAL 🌸</a>
	
	<a href="http://letterboxd.com/{{ site.author_name }}" rel="noopener" class="black" target="_blank" title="Films I Watched @{{ site.author_name }}">Letterboxd 🎬</a>
	
	<a href="http://goodreads.com/{{ site.author_name }}" rel="noopener" class="black" target="_blank" title="Books I Read @{{ site.author_name }}">Goodreads 📚</a>
	
			
</div>
