<div id="links" class="pages">

<a href="/projects" rel="noopener" class="post">
               
<div class="flip-box">
  <div class="flip-box-inner">
    <div class="flip-box-front">

      <img src="https://cozymaus.github.io/img/{{ post.img }}" class="img-fluid">
    </div>
    <div class="flip-box-back">
      <p class="title">Projects</p>
      <p class="excerpt" style="text-align:left;">My projects.</p>
    </div>
  </div>
</div> 

</a>

<a href="http://kemono.cozymaus.com" rel="noopener" target="_blank" class="post">
               
<div class="flip-box">
  <div class="flip-box-inner">
    <div class="flip-box-front">

      <img src="https://cozymaus.github.io/img/{{ post.img }}" class="img-fluid">
    </div>
    <div class="flip-box-back">
      <p class="title">Kemono Database</p>
      <p class="excerpt" style="text-align:left;">My current big personal project.</p>
    </div>
  </div>
</div> 

</a>

  
<a href="https://store.steampowered.com/curator/38329046/" rel="noopener" target="_blank" class="post">
               
<div class="flip-box">
  <div class="flip-box-inner">
    <div class="flip-box-front">

      <img src="https://cozymaus.github.io/img/{{ post.img }}" class="img-fluid">
    </div>
    <div class="flip-box-back">
      <p class="title">CozyMaus Steam Curator</p>
      <p class="excerpt" style="text-align:left;">My Steam curator page where I review games on Steam. Here you can also catch me broadcasting from time to time and a link to my videos and archived livestreams on YouTube.</p>
    </div>
  </div>
</div> 

</a>
  
</div>
