<div id="links" class="pages">

<a href="{{ post.link }}" rel="noopener" target="_blank" class="post">
               
<div class="flip-box">
  <div class="flip-box-inner">
    <div class="flip-box-front">

      <img src="https://cozymaus.github.io/img/{{ post.img }}" class="img-fluid">
    </div>
    <div class="flip-box-back">
      <p class="title">{{ post.title }}</p>
      <p class="date">{{ post.projectDate }}</p>
      <p class="excerpt" style="text-align:left;">{{ post.excerpt }}</p>
    </div>
  </div>
</div> 

</a>

</div>
