---
layout: default
title: "– all my links"
---

       <p class="stuff">


    Thank you for wanting to know more about me. To go back to the short bio <a href="/">click here</a>.

	<br><br>
	
    My name is Liz, but my boyfriend calls me Lizzy. I'm a 22-year-old female front-end web developer from cuba living in new jersey, usa who spends way too much time on the internet. i love making and fixing static websites especially, and i also have some skill in writing and digital art. i speak, read, and write both spanish and english fluently and used to study french and german. i also have some experience creating games thanks to school. i know some programming languages and have been getting into pixel art lately.
    <br><br>
    
    to relax i watch anime, play video games, eat sweets, admire nature, go jogging, dance, sing, snuggle my plushies, and just chill at home with my family, my parrotlets, and my love, andrew.
    <br><br>
    
    if i could be successful at any career, my dream job would be either doing freelance as a web developer, running an online toy and games or fashion store, or making video games independently. my boyfriend and i do plan on teaming up to work on video games someday. for now, maintaining company websites as a salaried employee is my favorite way to earn a stable income.
    <br><br>
    
    so far i am pretty happy with how my life has turned out. all that's left is to have a nice little house for my family and be with andrew for the rest of my life.
    <br><br>

    the following are my top favorite...<br><br>
    games currently: <em>stardew valley</em>, <em>bejeweled 3</em>, <em>snake pass</em>, <em>minecraft</em>, <em>rimworld</em>, <em>animal crossing</em> <br>
    childhood games: <em>spyro 2: ripto's rage</em>, <em>Ōkami</em> <br>
    consoles: ps2, pc <br>
    anime: <em>neon genesis evangelion</em>, <em>hunter x hunter</em> (2011), <em>beastars</em> <br>
    movies: <em>the end of evangelion</em>, <em>triangle</em> (2009), <em>joker</em> (2019), <em>american psycho</em> <br>
    seasons: summer, autumn <br>
    number: 5 <br>
    colors: red, pink, green, purple <br>
    animals: rats, mice, moles, birds, and everything else <br>
    gemstone: spinel <br><br>

random facts about me:<br><br>

sun sign: virgo<br>
chinese zodiac sign: fire ox<br>
blood type: AB- <br>
disc personality type: cs<br>
mbti: infj <br>
i know too much about: true crime

<br><br>

To go back to the short bio <a href="/">click here</a>.

        <br><br>
	       {% include legend.html %}
		<br><br>
	       
	       {% include credits.html %}
        </p>
    

