<!DOCTYPE html>
<html lang="en">
<head>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-123712244-11"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-123712244-11');
</script>
        
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="og:image" content="{{ site.logo }}">
    <meta name="description" content="{{ site.description }}">
    <meta name="keywords" content="Artist, digital, links, social media">
    <meta name="author" content="{{ site.author_name }}">
    <meta name="twitter" content="{{ site.author_name }}">
    <meta name="github" content="{{ site.author_name }}">

    <title>{{ site.title }} {{ page.title }} </title>

    <!--<link href="https://fonts.googleapis.com/css?family=Playfair+Display" rel="stylesheet">--> 

    <!--<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">-->

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    

<script src="//static.tumblr.com/ihhnoee/12Cotb0p2/jquery.style-my-tooltips.js"></script>

<script>
    (function($){
        $(document).ready(function(){
            $("a[title]").style_my_tooltips({
                tip_follows_cursor:false,
                tip_delay_time:100,
                tip_fade_speed:300,
            attribute:"title"
});
            $("span[title]").style_my_tooltips({
                tip_follows_cursor:false,
                tip_delay_time:100,
                tip_fade_speed:300,
            attribute:"title"
});
});
})(jQuery);
</script>

<script>
    (function($){

        $(document).ready(function(){

            $("#dropdown.red").click({
                $("div.dropdown-content").addClass("show");
                 $("a#dropdown.red").addClass("clicked");
            });

            $("#dropdown.red.clicked").click({
                $("div.dropdown-content").removeClass("show");
            });
        });


    })(jQuery);
</script>

    <link href="https://cozymaus.github.io/links/index.css" rel="stylesheet">
    <link href="https://cozymaus.github.io/links/cssreset.css" rel="stylesheet">
    <link rel="shortcut icon" type="image/x-icon" href="{{ site.favicon }}">

    </head>
<body>


<div id="top">

<div id="status">
        <p style="text-align:center;">
    		<a href="/"><img src="{{ site.logo }}" class="img-fluid" alt="CozyMaus logo"></a>
          </p>


    </div>

    <div id="about">
        <div id="title"><h3>About {{ site.author_name }}</h3></div>
        
        {{content}}
        
    </div>

</div>


    {% include links.html %}


<div id="bottom">

<div id="status">
        <p style="text-align:center;">
    		<img src="{{ site.logo }}" class="img-fluid" alt="CozyMaus logo">
    	</p>


    </div>

    <div id="about">
        <div id="title"><h3>About {{ site.author_name }}</h3></div>
        
        {{content}}
        
    </div>


</div>

</body>
</html>
